<ul class=vertical-menu>
        <li><a class="active" href="myuser.html">Home</a></li>
        <li><a class="branches" href="#news">Branches</a></li>
        <li><a class="commits" href="#contact">Commits</a></li>
        <li><a class="WC" href="#about">Working Copy</a></li>
        <li><a class="merge" href="#news">Merge </a></li>
        <li><a class="remote" href="#contact">Remote Commands</a></li>
        <li><a class="PR" href="#about">Pull Request</a></li>
        <li><a class="loguot" href="#news">Loguot</a></li>
 </ul>