body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.home {
    background-color: blueviolet;
    color: white;
}

li a:hover:not(.home) {
    background-color: #555;
    color: white;
}
.branches {
    background-color: #556  ;
    color: white;
}


.pageContent{
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}
#branchesData{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px;

}
#branchesData > * {
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;

}
.branchName{
    border-left: 1px solid blueviolet;
}

button{
    background-color: white;
    cursor: pointer;
}
#createBranch{
    background-color: blueviolet;

}