body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.home {
    background-color: blueviolet;
    color: white;
}

li a:hover:not(.home) {
    background-color: #555;
    color: white;
}
.remote {
    background-color: #556  ;
    color: white;
}


.pageContent{
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}

#pull{
    background-color: blueviolet;
    font-size: 18px;
    cursor: pointer;
    width: 10%;
    position: relative;
    top: 100px;
    left:380px;
    padding: 5px;

}

#push{
    background-color: blueviolet;
    cursor: pointer;
    font-size: 18px;
    width: 10%;
    position: relative;
    top: 100px;
    left:430px;
    padding: 5px;
}

