body {
    background-color: #fcfaf9;
    padding: 2em
}
.container {
    display: flex;
    flex-direction: column;

}
.container > * {

    flex: 1 100%;
}
.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}


#content{
    position: relative;
    flex: 0 auto;
    height: 100px;
    margin: auto;
    border: 2px solid blueviolet ;
    border-radius: 12px;
    text-align: center;
    padding: 10px;

}

.text1{
    font-weight: bold;
}


