body {
    background-color: #fcfaf9;
    padding: 2em
}
button {
    background-color: #fcfaf9;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;



}
#thisRepos{
    position: relative;
    right: 500px;
    font-size: 80%;
}
#logoutBtn{
    position: relative;
    right: 580px;
    font-size: 100%;


}
#repoData{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    position: relative;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;

}


#repoData > * {
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;

}


.repoName{
    border-left: 1px solid blueviolet;
}


#notifications{
    position: relative;
    flex: 0 auto;
    top: 0px;
    left: 460px;
    margin: auto;
    text-align: left;
    padding: 10px;
    display: grid;
    grid-template-columns: 250px;
    border: 1px solid blueviolet;
}

#allUsers{
    display: grid;
    grid-template-columns: auto;
    border: 1px solid blueviolet;
    position: relative;
    flex: 0 auto;
    top: 10px;
    right: 560px;
    margin: auto;
    text-align: left;
    padding: 10px;

}
.title {
    border-bottom: 1px solid blueviolet;
    text-align: center;
}

p:hover:not(.active) {
    padding: 10px;
    background-color: blueviolet;
    color: white;

}

#note{
    overflow-y: scroll;
    max-height: 150px;
    padding: 10px;
}

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: white;
    color: white;
    padding: 16px 20px;
    border: black;
    cursor: pointer;
    opacity: 0.8;
    position:relative;
    top: 10px;
    right: 28px;
    width: 52px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid blueviolet;
    z-index: 80;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}






