body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.home {
    background-color: blueviolet;
    color: white;
}

li a:hover:not(.home) {
    background-color: #555;
    color: white;
}
.PR {
    background-color: #556  ;
    color: white;
}


.pageContent{
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}
#PRData{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    position: relative;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px;


}
#PRData > * {
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;

}
.id{
    border-left: 1px solid blueviolet;
}
#allFiles{
    display: grid;
    grid-template-columns: auto;
    position: relative;
    flex: 0 auto;
    top: 20px;
    left:100px;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    max-height: 150px;


}
#allFiles>*{
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;
}
#allCommits{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    flex: 0 auto;
    top: 20px;
    left:500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    max-height: 150px;


}
#allCommits>*{
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;
}
#actions >*{
    background-color: white;
    cursor: pointer;

}
button{
    background-color: white;
    cursor: pointer;
}
#createPR{
    background-color: blueviolet;
    cursor: pointer;
}
{box-sizing: border-box;}

.form-popup {
    display: none;
    position: relative;
    top: 0px;
    left:430px;
    border: 3px solid blueviolet;
    z-index: 80;
}

/* Add styles to the form container */
.form-container {
    max-width: 100px;
    padding: 10px;
    background-color: white;
}

.text_edit {
    position: relative;
    top: 0px;
    left:200px;
    width: 200px;
    height: 300px;
    resize: both;
}

#view_text {
    width: 500px;
}
