body {
  margin: 0;
}
.pageContent {
  display: flex;
  flex-direction: column;
}
#titles{
  position: relative;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.home {
  background-color: blueviolet;
  color: white;
}

li a:hover:not(.home) {
  background-color: #555;
  color: white;
}

.pageContent{
 background-color: white; 
}
.titleNote{
  border-bottom: 1px solid blueviolet;
}
#notifications{
  position: relative;
  flex: 0 auto;
  top: -350px;
  left: 10px;
  margin: auto;
  text-align: left;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px;
  border: 1px solid blueviolet;

}
#note{
  overflow-y: scroll;
  max-height: 150px;
  padding: 10px;
}