body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.home {
    background-color: blueviolet;
    color: white;
}

li a:hover:not(.home) {
    background-color: #555;
    color: white;
}
.WC {
    background-color: #556  ;
    color: white;
}


.pageContent{
    background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}
#allCommits{
    display: grid;
    grid-template-columns: auto 140px auto auto auto auto;
    position: relative;
    left:80px;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;

}
#allFiles{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left:80px;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
#allCommits > * {
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;

}
#allFiles > * {
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;

}
#WCFiles{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left:200px;
    flex: 0 auto;
    top: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px;
}

#WCFiles > *{
    border-left: 1px solid blueviolet;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    padding: 3px;
}
.sha1{
    border-left: 1px solid blueviolet;
}

button{
    background-color: white;
    cursor: pointer;
}
#createBranch{
    background-color: blueviolet;
}

#saveBtn{
    background-color: blueviolet;
    position: relative;
    top: -260px;
    left:220px;
    width: 200px;
}
#closeBtn{
    background-color: blueviolet;
    position: relative;
    top: -239px;
    left:20px;
    width: 200px;

}
.text_edit {
    position: relative;
    top: -260px;
    left:200px;
    width: 245px;
    height: 300px;
    resize: both;
}

#view_text {
    position: relative;
    top: 60px;
    left:20px;
    width: 245px;
    height: 300px;
    resize: both;
}